.guias-contenedor {
  background-color: #F6F1EC;
  min-height: 100vh;
}

.btn-primary {
  background-color: #A0685D;
  border-color: #A0685D;
}

.btn-primary:hover {
  background-color: #855348;
  border-color: #855348;
}

.text-primary {
  color: #A0685D !important;
}