<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand me-0" routerLink="/" title="Ir a la página de inicio">
      <img src="/logo-2.png" alt="Logotipo de Terreta&Activity" class="header-logo">
    </a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" aria-label="Abrir menú">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [class.show]="!isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto"> 
        @if (comprobarAdmin()) {
          <li class="nav-item"><a class="nav-link" routerLink="/crear-reservas" (click)="cerrarMenu()">Gestionar Actividades</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/gestion-usuarios" (click)="cerrarMenu()">Gestionar Usuarios</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/mis-reservas" (click)="cerrarMenu()">Ver Actividades</a></li>
        } @else {
          <li class="nav-item"><a class="nav-link" routerLink="/" (click)="cerrarMenu()">Inicio</a></li>
          @if (comprobarLogueado()) {
            <li class="nav-item"><a class="nav-link" routerLink="/mis-reservas" (click)="cerrarMenu()">Mis Reservas</a></li>
          }
          <li class="nav-item"><a class="nav-link" routerLink="/guias" (click)="cerrarMenu()">Guías</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/ofertas" (click)="cerrarMenu()">Ofertas</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contacto" (click)="cerrarMenu()">Contacto</a></li>
        }
      </ul>

      <ul class="navbar-nav">
        @if (!comprobarLogueado()) {
          <li class="nav-item">
            <a class="btn btn-nav me-2" routerLink="/login" (click)="cerrarMenu()">Entrar</a>
            <a class="btn btn-nav" routerLink="/register" (click)="cerrarMenu()">Registro</a>
          </li>
        } @else {
          <li class="nav-item dropdown">
            <button class="btn btn-nav dropdown-toggle d-flex align-items-center" (click)="conmutarMenu()">
              <img [src]="obtenerFoto()" [alt]="'Foto de perfil de ' + usuarioActual?.nombre" class="user-avatar">
              {{ usuarioActual?.nombre }}
            </button>
            
            @if (menuAbierto) {
              <ul class="dropdown-menu">
                @if (comprobarAdmin()) {
                  <li class="dropdown-item-text text-danger fw-bold">ADMINISTRADOR</li>
                  <li><hr class="dropdown-divider m-0"></li>
                }
                <li><a class="dropdown-item" routerLink="/editar-perfil" (click)="cerrarMenu()">Editar Perfil</a></li>
                <li><button class="dropdown-item text-danger" (click)="logout()">Salir</button></li>
              </ul>
            }
          </li>
        }
      </ul>
    </div>
  </div>
</nav>