.navbar {
  background-color: var(--color-header-bg) !important;
}

.navbar .nav-link {
  color: var(--color-header-text) !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: var(--color-verde-bosque) !important;
}

.navbar-nav {
  gap: 5px;
}

.btn-outline-light {
  border-color: var(--color-verde-bosque) !important;
  color: var(--color-verde-bosque) !important;
}

.btn-outline-light:hover {
  background-color: var(--color-verde-bosque) !important;
  color: var(--color-blanco) !important;
}

.dropdown-menu {
  margin-top: 10px;
  border-radius: 6px;
  display: block;
  right: 0;
  left: auto;
}

.admin-tag {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-naranja-valencia);
  padding: 5px 16px;
  background-color: #f8f9fa;
}

.text-danger:hover {
  background-color: #fff5f5;
}
