.navbar-brand img {
  max-height: 60px;
  width: auto;
}

.btn-outline-light:hover {
  background-color: #F6F1EC;
  color: #A0685D;
}

.dropdown-menu {
  margin-top: 10px;
  border-radius: 6px;
}

.admin-tag {
  font-size: 0.75rem;
  font-weight: bold;
  color: #A0685D;
  padding: 5px 16px;
  background-color: #f8f9fa;
}

.text-danger:hover {
  background-color: #fff5f5;
}