.text-primary {
  color: #A0685D !important;
}

.btn-primary {
  background-color: #A0685D !important;
  border-color: #A0685D !important;
}

.btn-primary:hover {
  background-color: #8a594f !important;
  border-color: #8a594f !important;
}