.reservas {
  background-color: #F6F1EC;
  min-height: 100vh;
}

.text-primary { 
  color: #A0685D !important; 
}
.border-primary { 
  border-color: #A0685D !important; 
}

.border-dashed {
  border: 2px dashed #A0685D;
  background-color: transparent;
}

.card { 
  transition: transform 0.2s; 
}
.card:hover { 
  transform: translateY(-5px); 
}