.text-primary {
  color: #a0685d !important;
}

.btn-primary {
  background-color: #a0685d;
  border-color: #a0685d;
}
.btn-primary:hover {
  background-color: #855348;
  border-color: #855348;
}

.alert-danger {
  color: #c0392b;
  background-color: #fceceb;
  border-color: #f5c6cb;
}
