.ofertas-contenedor {
  background-color: #f6f1ec;
  min-height: 100vh;
}

.text-primary {
  color: #a0685d !important;
}
.btn-primary {
  background-color: #a0685d;
  border-color: #a0685d;
}
.btn-primary:hover {
  background-color: #855348;
  border-color: #855348;
}
