.home-sitio {
  padding-bottom: 0px !important;
}

.container.py-5 {
  padding-bottom: 2rem !important; 
}

.titulo-experiencias {
  color: #333 !important;
}

.card-title {
  color: #212529 !important;
}

.badge {
  display: inline-block;
  width: auto;
}

.btn-reservar {
  background-color: #A0685D !important;
  color: white !important;
  border: none;
}

.btn-reservar:hover {
  background-color: #8a5a50 !important;
  color: white;
}