.text-primary { color: #A0685D !important; }
.btn-primary { 
  background-color: #A0685D; 
  border-color: #A0685D; 
}
.btn-primary:hover { 
  background-color: #855348; 
  border-color: #855348; 
}

.alert-danger {
  color: #C0392B;
  background-color: #fceceb;
  border-color: #f5c6cb;
}