
.nav-link {
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-link:hover {
    color: #CCCCCC !important;
    text-decoration: none;
}

footer p, footer a {
    font-weight: bold;
}

hr.border-light {
    opacity: 1;
}